<!DOCTYPE html>
<html lang="en">
<head>
<title>DDoS攻击联合防御平台</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Out Strip Sign In Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<link rel="stylesheet" href="css_login/font-awesome.css">
<link rel="stylesheet" href="css_login/style.css" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

<script src="js/jquery-2.2.3.min.js"></script>
   <script src="js/web3.min.js"></script>
   <script src="js/truffle-contract.js"></script>
   <script src="App/app.js"></script>
   <script src="js/bignumber.js"></script>
</head>
<body>
<div data-vide-bg="video/video2" style = "height:50%;">
	<div class="center-container">
		<!--header-->
		<div class="header-w3l">
			<h1>DDoS攻击联合防御平台</h1>
		</div>
		<!--//header-->
		<!--main-->
		<div class="main-content-agile">
			<div class="wthree-pro">
				<h2>登录</h2>
			</div>
			<div class="sub-main-w3">
				<form action="javascript:App.login()" method="post">

					<div class="icon1">
						<i>用户名</i>
						<input placeholder=" " name="Email" type="text" required="" id="yhm">
					</div>

					<div class="icon2">
						<i>密码</i>
						<input  placeholder=" " name="Password" type="password" required="" id ="mm">
					</div>
					<div class="rem-w3">
						<span class="check-w3"><input type="checkbox" />记住我</span>
						<a href="register.html" class="one-w3ls" >注册一个新的账户</a>
						<div class="clear"></div>
					</div>
					<input type="submit" value="登录">
				</form>
			</div>
		</div>
		<div class="footer">
			<p>&copy; 2021 齐鲁工业大学 计算机科学与技术学院 | 王越</p>
		</div>
	</div>
</div>
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script src="js_login/jquery.vide.min.js"></script>
<!-- //js -->
</body>
</html>
